.friendListItem {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #eee;
  padding: 15px;
  text-align: center;
}

.friendListItem p {
  padding: 0;
  margin: 0;
}

.friendListItem p:first-of-type {
  font-size: 20px;
  font-weight: 700;
}

.friendName {
  color: black;
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.online {
  color: green;
  font-weight: bold;
}

.offline {
  color: red;
  font-weight: bold;
}
