.transactionList {
  background-color: #eee;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  color: #000;
}

.transactionList table {
  width: 100%;
  border-collapse: collapse;
}

.transactionList thead tr th {
  background-color: #333333;
  color: #fff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  padding-top: 3px;
}

.transactionList tbody tr td {
  margin: 0;
  padding: 5px 10px;
  border: 1px solid black; /* Чорний бордюр */
  text-align: center;
}

.transactionList tbody tr:nth-child(even) {
  background-color: #c9c7c7; /* Смугаста таблиця */
}

tr td:not(:last-child) {
  border-right: 1px solid black; /* Чорний бордюр */
}

tr td {
  border-bottom: 1px solid black; /* Чорний бордюр */
}
